/*@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Lato:wght@300&family=Open+Sans:wght@300;400;500;700&family=Sen:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
   /* background: #fff;
    color: #333; */
    line-height: 1.6;
    background-color:#f4f4f4;
    
}


/*img {
    width: 100%;
} */

.line-spacer {
    line-height: 1.5;
}

/*.img1 {

    height: auto;
    max-width: 100%;
  
  }






.hero-image-container {
    z-index: 1;
  
  position: relative; 
 
} 

.hero-image {
    
    width: 100%;
    height: 100vh; 

} 


.text-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index:100;
    padding-top: 10px;
    padding-left:10px;
    max-width: 40%; 
   
} */


.hero {
    background: url('./assets/hero_desktop.png') no-repeat center top/cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    
    
    
}

.logo-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 2%;
    padding-left: 1%;
   
    
}

.logo-image {
    height: auto;
    max-width: 100%;
}






.bold {
    font-weight: bold;
}




.about-product {
    padding-top: 40px;
    padding-bottom: 60px;
}


li { list-style-type: disc; }



.feature-boxes {
    padding-top: 30px;
    padding-bottom: 30px;
}


.video-wrapper {
    position: relative;
    line-height: 0;
    border: none;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
  
}







  video {

    min-width: 100%;
    min-height: 100%;
    /*overflow: hidden;
    margin-bottom: -1px; */
  
   
   
   /* width: 100%;
    height: 100%; */
    /*z-index: -1; */
   
  } 

 /* video::-webkit-media-controls-overlay-play-button {
    display: none;
  } */



  .play {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }








.testimonials {
    margin-top: 80px;
  
    
}

.contact-form {
    margin-top: 80px;
}

.fig-captions {
    font-size: 1.5rem;
    color: black;
}

.fig-spacer {
    margin-top: 30px;
}

.form-input {
    
    padding: 30px;
    width: 40%;
    text-align: center;
    background-color: #f4f4f4;
    border-color: black;
}


.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #22bfea;
    background-color: #f4f4f4;
  }


.submit-button {
    width: 21%;
    border-radius: 40px;
    border: 1px solid black;
    background-color: #f4f4f4;
    color: black;
    margin-top: 20px;

}

.submit-button:hover {
    width: 21%;
    border-radius: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;

}



.newsletter-button {
    
    border-radius: 40px;
 
    
    background-color: #f4f4f4;
    color: gray;

}


.btn-group {
    width: 30%;
    padding-bottom: 20%;
}

.newsletter-button1 {
    border-right: none;
    text-align: center;
   
}


.newsletter-button1:hover {
    background-color: #f4f4f4;
    color: gray;
}

.newsletter-button2 {
    border-left: none;
    color: black;
    
    
}

.newsletter-button2:hover {
    border-left: none;
    color: white;
    
    
}





@media only screen and (max-width: 413px) {
    .logo-box {
        width: 80%;
    }
    
}


@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 480px) {
  .logo-box {
    width: 60%;
  }
}


@media only screen and (max-width: 480px) {
    
    
  
    
    
    
    
    .form-input {
      width: 80%;
    }

    .submit-button {
        width: 80%;
    }

    .submit-button:hover {
        width: 80%;
        border-radius: 40px;
        border: 1px solid black;
        background-color: black;
        color: white;
    
    }

    .btn-group {
        width: 80%;
    }




   

  
  }




@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 1280px) 
 { 
  .form-input {
      width: 80%;
    }

    .submit-button {
        width: 40%;
    }

    .btn-group {
        width: 60%;
    }
  



} 






